body{
    background-color:var(--main-bg-color) ;
    font-family: var(--font-1);
    color: var(--font-1-color);
    font-size: 1rem;
}
/** component  **/
/* Container parent  */
.calculator {
    position: absolute;
    left: 30%;
    TOP: 79px;
    display: flex;
    flex-direction: column;
    border: 1px solid #310202;
    border-radius: 3%;
    width: 35%;
    height: -6%;
    -webkit-border-radius: 6%;
    -moz-border-radius: 3%;
    -ms-border-radius: 3%;
    -o-border-radius: 3%;
    box-shadow: inset 3px -13px 39px -14px #000000, 5px 20px 82px 10px black, -4px -2px 246px 20px #500505b8, inset 10px 10px 242px 11px #311614, -9px -20px 17px 16px #000000a1, inset -9px 12px 9px 7px #f91303;
    align-content: center;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -ms-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
}
.bloc_button {
    background: #00000073;
    box-shadow: inset 12px 2px 3px -5px #232323;
    margin: 4px;
    padding: 5px;
    border-radius: 5px 100px 10px 180px;
    -webkit-border-radius: 5px 100px 122px 180px;
    -moz-border-radius: 5px 100px 10px 180px;
    -ms-border-radius: 5px 100px 10px 180px;
    -o-border-radius: 5px 100px 10px 180px;
}
.multiply {
    margin-top: 8px;
}

/* container */
input[type="text"] {
    font-size: var(--font-screen-size);
    border: 2px SOLID #0000007a;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-align: right;
    padding: -4px;
    padding: 21px;
    margin: 43px;
    width: 65%;
    box-shadow: inset 2px 1px 18px black, 1px -1px 56px 1px #d2170a;
    font-size: var(--font-p-size);
    color:var(--font-p-color);
}
input:focus,
input:active,
button:focus,
button:active{
    outline:none;
}
title {
    display: flex;
    font-size: var(--font-screen-size);
    letter-spacing: 3px;
    padding-right: 30px;
    height: 50px;
    background: rgb(108,108,108);
    background: linear-gradient(348deg, rgba(108,108,108,1) 0%, rgba(184,183,183,1) 4%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 89%, rgba(158,158,158,1) 99%);
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    border-radius: 7px;
    box-shadow: inset 2px 1px 18px black, 1px -1px 56px 1px #d2170a;
}
    /* container */
    .Operation, .Number {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: space-around;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 11px -2px;
    }

.BeautifulButton, .ClearButton{
    color:var(--font-p-c-color) ;
    font-size: var(--font-p-c-size);
}
.BeautifulButton{
    font-size: var(--font-p-size);
}
button {
    width: 50px;
    height: 50px;
    margin: 10px;
    border: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    box-shadow: -1px -3px 2px 2px #480101, 3px 4px 6px 2px #4c2525, inset 0px 0px 9px 9px #cecece;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 30ms ease-in;
    -webkit-transition: 30ms ease-in;
    -moz-transition: 30ms ease-in;
    -ms-transition: 30ms ease-in;
    -o-transition: 30ms ease-in;
}
button:hover {
    margin: 10px;
    border: none;
    border-radius: 49%;
    -webkit-border-radius: 49%;
    -moz-border-radius: 49%;
    -ms-border-radius: 49%;
    -o-border-radius: 49%;
    box-shadow: inset 0px 0px 3px 5px white, -1px 2px 22px 4px #b7afaf, -1px 1px 78px 8px #a2a0a0d9, inset -5px -1px 7px 0px #000000, 10px 10px 31px 13px #311614;
    transition: all 30ms cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition: all 30ms cubic-bezier(0.075, 0.82, 0.165, 1);
    -moz-transition: all 30ms cubic-bezier(0.075, 0.82, 0.165, 1);
    -ms-transition: all 30ms cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: all 30ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
p{  
    padding: 0;
    margin: 0;
    color: var(--font-p-color);
    font-size: var(--font-p-size);
    font-weight: bolder;
}

.Equal {
    position: relative;
    left: 0%;
    width: 100%;
    height: 80px;
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}
/* content  */
#ope {
    /* color: var(--font-p-c-color); */
  
    transition: all 30ms ease-in;
    -webkit-transition: all 30ms ease-in;
    -moz-transition: all 30ms ease-in;
    -ms-transition: all 30ms ease-in;
    -o-transition: all 30ms ease-in;
}
#ope:active{
    background: #dc4136;
    /* color: var(--font-p-c-color); */
    /* box-shadow: -2px 0px 7px 7px #82130c, 3px 4px 10px 2px #820d05, inset 0px 0px 9px 9px #d63030; */
    transition: all 30ms ease-in;
    -webkit-transition: all 30ms ease-in;
    -moz-transition: all 30ms ease-in;
    -ms-transition: all 30ms ease-in;
    -o-transition: all 30ms ease-in;
}
#ope:active p{
    color: var(--font-p-c-color);
}
#ope:hover{
    /* background: #dc4136; */
    box-shadow: -1px -3px 8px 2px #180d0d, 0px 3px 7px 6px #480101, inset 0px 0px 0px 9px #0c0c0c61;
    transition: all 30ms ease-in;
    -webkit-transition: all 30ms ease-in;
    -moz-transition: all 30ms ease-in;
    -ms-transition: all 30ms ease-in;
    -o-transition: all 30ms ease-in;

}
#clear {
    background: #671616;
    box-shadow: -1px -3px 2px 2px #480101, 3px 4px 6px 2px #4c2525, inset 0px 0px 9px 9px #cecece;
    transition: all 30ms ease-in;
    -webkit-transition: all 30ms ease-in;
    -moz-transition: all 30ms ease-in;
    -ms-transition: all 30ms ease-in;
    -o-transition: all 30ms ease-in;
}
#clear:hover {
    background: #a55b5b;
    box-shadow: 0px 0px 54px 32px #480101, 3px 4px 6px 2px #4c2525, inset 0px 0px 9px 9px #cecece;
}
#clear:active {
    background: #af2323;
    box-shadow: 0px 0px 54px 32px #480101, 3px 4px 6px 2px #4c2525, inset 0px 0px 9px 9px #cecece;
}
#clear:active p{
    color: var(--font-p-color);
}
#equal {
    background: #1855ff;
    box-shadow: -1px -3px 8px 2px #1855ff, 0px 3px 7px 6px #1a3173, inset 0px 0px 0px 9px #cecece;
    transition: all 30ms ease-in;
    -webkit-transition: all 30ms ease-in;
    -moz-transition: all 30ms ease-in;
    -ms-transition: all 30ms ease-in;
    -o-transition: all 30ms ease-in;
}
#equal:hover {
    background: #1855ff;
    box-shadow: 0px 0px 91px 28px #0042ce, 3px 4px 6px 2px #1a3173, inset 0px 0px 9px 9px #cecece;
}
#equal:active {
    background: #0077ff;
    box-shadow: 0px 0px 54px 32px #1855ff, 3px 4px 6px 2px #1a3173, inset 0px 0px 9px 9px #cecece;
}